Repository aio-libs/aiohttp, pull requests merged in 2018-03, with the labels that each got.

#2790 Add aiozipkin to third party section
  docs/third_party.rst
Labels: docs / examples

#2820 Refactor ClientResponse constructor
  CHANGES/2820.feature
  aiohttp/client_reqrep.py
  tests/test_client_proto.py
  tests/test_client_request.py
  tests/test_client_response.py
  tests/test_proxy.py
Labels: client

#2858 Do fire DNS tracing events
  CHANGES/2841.bugfix
  aiohttp/connector.py
  tests/test_web_functional.py
Labels: bug, client
